{% extends 'base.html' %}

{% block title %} Homepage of Frontend {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>FNS Service</h1>
        <p>FNS, short for Find National Service, is a groundbreaking software designed to simplify and streamline the process of locating essential services in your vicinity. Created with the mission to assist individuals in swiftly identifying nearby services, FNS is an innovative tool dedicated to enhancing convenience and accessibility.

            FNS focuses on aiding users in Milan, acting as a guiding beacon to find crucial services within their chosen proximity. Its primary functionalities revolve around locating pharmacies, bars/pubs, and post offices with ease. The user experience is straightforward: input your address or location and set your desired radius. In return, FNS generates a comprehensive map displaying a curated list of the nearest service points.
            
            This project represents an initial but pivotal step in providing an invaluable resource for community convenience. By leveraging technology to connect users with essential services efficiently, FNS embodies efficiency, accessibility, and ease of use.</p>
    </div>

{% endblock %}

