{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}
</div>
<div class="container mt-5">
    <h1>Hello, Internal Page!</h1>
    <p>This is an internal page for interacting with a FastAPI backend.</p>
    <form action="{{ url_for('servicepage')}}" method="POST" class="mt-3">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control", placeholder="Enter Address", id="autocomplete") }}
        </div>

        <div class="mb-3">
            {{ form.raggio.label(class="form-label") }}
            {{ form.raggio(class="form-control", placeholder="Enter Raggio") }}
        </div>

        <div class="mb-3">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            {% if categoria == "poste" %}
                <div class="overflow-auto" style="max-height: 400px;">
                    <h5>Poste</h5>
                    <ul class="list-group" id="poste-list">
                        {% if data %}
                            {% for poste in data['poste_nel_raggio'] %}
                                <li class="list-group-item" data-lat="{{ poste['LAT_Y_4326'] }}" data-lon="{{ poste['LONG_X_4326'] }}">
                                    {{ poste['Ente'] }} - {{ poste['Indirizzo'] }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% elif categoria == "farmacie" %}
                <div class="overflow-auto" style="max-height: 400px;">
                    <h5>Farmacie</h5>
                    <ul class="list-group" id="farmacie-list">
                        {% if data  %}
                            {% for farmacia in data['poste_nel_raggio'] %}
                                <li class="list-group-item" data-lat="{{ farmacia['LATITUDINE'] }}" data-lon="{{ farmacia['LONGITUDINE'] }}">
                                    {{ farmacia['DESCRIZIONE_FARMACIA'] }} - {{ farmacia['INDIRIZZO'] }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% elif categoria == "esercizi" %}
                <div class="overflow-auto" style="max-height: 400px;">
                    <h5>Esercizi</h5>
                    <ul class="list-group" id="esercizi-list">
                        {% if data %}
                            {% for esercizio in data['poste_nel_raggio'] %}
                                <li class="list-group-item" data-lat="{{ esercizio['LAT_WGS84'] }}" data-lon="{{ esercizio['LONG_WGS84'] }}">
                                    {{ esercizio['denominazione_pe'] }} - {{ esercizio['Ubicazione'] }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <p>Categoria non supportata</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}