{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1>Hello, Internal Page!</h1>
        <p>This is an internal page for interacting with a FastAPI backend.</p>

        <!-- WTForms Form to get input from the user -->
        <h1>poste data </h1>
        <ul>
            {% for poste in poste_data['poste']%}
                <li>{{poste['Ente']}} - {{poste['Indirizzo']}}</li>
            {% endfor %}
            {% for esercizi in esercizi_data['esercizi']%}
                <li>{{esercizi['denominazione_pe']}} - {{esercizi['Ubicazione']}}</li>
            {% endfor %}
        </ul>
        

    </div>


{% endblock %}